Adafruit-Blinka==6.4.2
adafruit-circuitpython-neopixel==6.0.3
adafruit-circuitpython-pypixelbuf==2.2.4
Adafruit-PlatformDetect==3.5.0
Adafruit-PureIO==1.1.8
asyncio==3.4.3
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
cffi==1.14.5
click==7.1.2
constantly==15.1.0
cryptography==3.4.7
Flask==1.1.2
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
psutil==5.8.0
pycparser==2.20
pyftdi==0.52.9
pyserial==3.5
pyusb==1.1.1
six==1.15.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
websockets==8.1
Werkzeug==1.0.1
zope.interface==5.3.0
